<div class="carEmpty-header">
    <a href="javascript:history.back();" class="ui-back">返回</a>
    <div class="ui-title">购物车</div>
    <span></span>
</div>
<div class="carEmpty-addr">
    <span class="text">地址：</span>
    <span class="text-info">北京,市辖区,东城区</span>
</div>
<div class="carEmpty-content">
    <p class="emp-img"></p>
    <p class="emp-txt">购物车快饿瘪了</p>
    <p class="emp-tag">主人快给我挑点宝贝吧</p>
    <a class="emp-hang" href="javascript:void(0)">去逛逛</a>
    <a class="emp-login" href="#login">登录</a>
</div>
