<div class="cart">
	<div class="cartEmpty">
		<header>
			<a ui-sref = "home.global">
				<img src="public/imgs/left.gif">
			</a>
			购物车
			<img src="public/imgs/service.gif">
		</header>
		<main>
			<p class="site">
				<img src="public/imgs/site.gif">
				地址:河北唐山市,路南区
				<img src="public/imgs/right.gif">
			</p>
			<div>
				<img src="public/imgs/cart1.gif">
				<p>购物车块饿瘪了</p>
				<p>主人快给我挑点宝贝吧</p>
				<div class="btn">
					<a ui-sref = "home.global">去逛逛</a>
					<a ui-sref = "login">登录</a>
				</div>
			</div>
		</main>
	</div>
	<div class="cartFull">
		<header>
			<h2>
				<img src="public/imgs/left.gif">
				购物车
				<span>编辑</span>
				<img src="public/imgs/service.gif">
			</h2>
		</header>
		<main>
			<p class="site">
				<img src="public/imgs/site.gif">
				地址:河北唐山市,路南区
				<img src="public/imgs/right.gif">
			</p>
			<div>
				<p class="mold">
					<span class="circle"></span>
					<img src="public/imgs/gift.gif">
					<span>全球食品店</span>
				</p>
				<p class="address">
					<span class="circle"></span>
					<span>进口食品仓</span>
				</p>
			</div>
			<div class="show">
				<dl>
					<dt class="circle"></dt>
					<dd>
						<h3>
							波兰进口高普拉娜 冰爽硬焦糖激发金瓯
						</h3>
						<p>
							<strong>￥3.00</strong>
							<b>
								税费
								<span>￥0.00</span>
							</b>
							<img src="public/imgs/down.gif">
						</p>
						<p>
							<img src="public/imgs/del.gif">
							<span>1</span>
							<strong>+</strong>
						</p>
					</dd>
				</dl>
				<p class="price">
					<b>
						本仓税费
						<span>￥0.00</span>
					</b>
					<i>
						商品总计(含税)
						<span>￥3.00</span>
					</i>
				</p>
				<p class="weight">
					<b>
						重量
						<span>180g</span>
					</b>
					<i>
						运费:
						<span>￥30.00</span>
					</i>
					<strong>
						订单优惠
						<span>￥0.00</span>
					</strong>
				</p>
				<p class="sum">
					<b>
						本店税费
						<span>￥0.00</span>
					</b>
					<i>
						本店合计(含税)
						<span>￥13.00</span>
					</i>
				</p>
			</div>
		</main>
		<footer>
			<span class="circle"></span>
			<strong>全选</strong>
			<div class="money">
				<p>
					<b>
						总价
						<span>￥223.00</span>
					</b>
					<br/>
					<i>(含关税:<span>￥0.00</span>,不含运费)</i>
				</p>
				<a href="">
					去结算(<span>3</span>)
				</a>
			</div>
		</footer>
	</div>
</div>