<div id="girlLuggage" ng-controller='girlLuggageCtrl'>
	<header>
		<div></div>
		<div>轻奢女包</div>
		<div></div>
		<div></div>
	</header>
	<div class="banner"><img src="public/imgs/luggage_1.jpg" alt=""></div>
	<nav>
		<ul>
			<li ng-click="activity(0)" class="activity">轻奢主推<span></span></li>
			<li ng-click="activity(1)">Coach<span></span></li>
			<li ng-click="activity(2)">MK<span></span></li>
			<li ng-click="activity(3)">Kate Spade<span></span></li>
		</ul>
	</nav>
	<div class="girlLugMain">
	<div class="title"><img src="public/imgs/recommend.jpg" alt=""></div>
		<recommend-dir></recommend-dir>
	<div class="title"><img src="public/imgs/coach.jpg" alt=""></div>
		<coach-dir></coach-dir>
	<div class="title"><img src="public/imgs/MK.jpg" alt=""></div>
		<mk-dir></mk-dir>
	<div class="title"><img src="public/imgs/KS.jpg" alt=""></div>
		<ks-dir></ks-dir>
	</div>

</div>