<div class="wrap">
    <header>
        <div>
            <p>
                <span class="site">北京</span>
                <img src="public/imgs/down.gif">
            </p>
            <img src="public/imgs/logo.png">
            <img src="public/imgs/search.gif">
        </div>
        <nav>
            <a class="border" ui-sref="home.homeWraper.monkeyGlobal" ng-click="border(0)">全球购</a>
            <a ui-sref="home.homeWraper.monkeyEle" ng-click="border(1)">云猴生鲜</a>
            <a ui-sref="home.homeWraper.monkeyFre" ng-click="border(2)">云猴家电</a>
        </nav>
    </header>
    <div ui-view></div>
</div>
