<div class="itemDetail">
	<header>
		<a ui-sref="home.global">
			<img src="public/imgs/left.png">
		</a>
		<span>商品详情</span>
		<img src="public/imgs/share.png">
		<a ui-sref="home.global">
			<img src="public/imgs/home.png">
		</a>
	</header>
	<main>
		<nav>
			<a href="">基本信息</a>
			<a href="">图文详情</a>
			<a href="">商品评价</a>
		</nav>
		<div class="show">
			<div><img ng-src="{{img}}"></div>
			<div class="price">
				<span>抢购价</span>
				<span class="new">{{new}}</span>
				<span class="old">{{old}}</span>
				<p class="seckill">
					<img src="public/imgs/xianshi-1.gif">
					限时秒杀,数量有限秒完即止!
				</p>
			</div>
			<div class="site">
				<img src="public/imgs/site.gif">
				<p>
					北京,市辖区,昌平区
					<span>有货</span>
				</p>
			</div>
			<div class="detail">
				<section>
					<p>{{name}}</p>
					运费说明：普通快递1：若发现单号没有显示请找在线客服会为您提供。2.水果为生鲜易腐烂商品难免有坏果我们承诺包赔，您签收后请最长24小时内将，所有商品平铺、与快递面单及坏果面拍一张照片发送给在线客服货云猴客户即可理赔。
				</section>
				<div class="num">
					<strong>数量</strong>
					<p>
						<span class="sub">-</span>
						<b>1</b>
						<span class="add">+</span>
					</p>
				</div>
				<div class="service">
					<p>农说四季</p>
					<p>
						<img src="public/imgs/service.gif">
						<span>联系客服</span>
					</p>
				</div>
				<img src="public/imgs/dianji.gif">
			</div>
		</div>
	</main>
	<footer>
		<dl>
			<dt class="first"></dt>
			<dd>我的</dd>
		</dl>
		<dl>
			<dt class="second"></dt>
			<dd>收藏</dd>
		</dl>
		<dl>
			<dt class="third"></dt>
			<dd>购物车</dd>
		</dl>
		<p>加入购物车</p>
	</footer>
</div>
