<div class="login">
	<header>
		<img src="public/imgs/cha.gif">
		<span>注册</span>
	</header>
	<main>
		<img src="public/imgs/yunhou.gif">
		<div class="import">
			<p>
				<img src="public/imgs/people.gif">
				<input type="text" placeholder="手机号/邮箱/用户名">
				<img src="public/imgs/small.gif">
			</p>
			<p>
				<img src="public/imgs/suo.gif">
				<input type="password" placeholder="请输入密码">
				<img src="public/imgs/small.gif">
				<img src="public/imgs/eye.gif">
			</p>
		</div>
		<div class="enter">
			<a ui-sref="home.global">登录</a>
			<p>忘记密码</p>
		</div>
		<div class="other">
			<p>其他登录方式</p>
			<address>
				<img src="public/imgs/qq.gif">
				<img src="public/imgs/bo.gif">
			</address>
		</div>
	</main>
</div>