<section class="mine">
	<header>
		<div class="top">
			<p>
				<span><a href="#/home">&lt;</a></span>
				<span><a href="#/home"></a></span>
			</p>
			<dl>
				<dt><img src="./public/imgs/mine_06.gif" alt=""></dt>
				<dd>124***234</dd>
				<dd>
					<img src="./public/imgs/mine_09.gif" alt="">普通会员
				</dd>
			</dl>
		</div>
		<div class="bottom">
			<p>
				<span>我的订单</span>
				<a href="#/allOrders/all">查看我的全部订单 &gt;</a>
			</p>
			<div>
				<a href='#/allOrders/pay'>
					<dl>
						<dt><img src="public/imgs/mine_13.gif" alt=""></dt>
						<dd>待付款</dd>
					</dl>
				</a>
				<a href="#/allOrders/send">
					<dl>
						<dt><img src="public/imgs/mine_15.gif" alt=""></dt>
						<dd>待发货</dd>
					</dl>
				</a>
				<a href='#/allOrders/take'>
					<dl>
						<dt><img src="public/imgs/mine_17.gif" alt=""></dt>
						<dd>待收货</dd>
					</dl>
				</a>
				<a href="#/allOrders/phy">
					<dl>
						<dt><img src="public/imgs/mine_19.gif" alt=""></dt>
						<dd>物流查询</dd>
					</dl>
				</a>
				
			</div>
		</div>
	</header>

	<main>
		<a href="#/score/you">
			<dl>
				<dt><img src="public/imgs/mine_26.gif" alt=""></dt>
				<dd>会员积分</dd>
			</dl>
		</a>
		<a href="#/collect/collectOne">
			<dl>
				<dt><img src="public/imgs/mine_29.gif" alt=""></dt>
				<dd>我的收藏</dd>
			</dl>
		</a>
		<a href="#/score/you">
			<dl>
				<dt><img src="public/imgs/mine_32.gif" alt=""></dt>
				<dd>优惠券</dd>
			</dl>
		</a>
		<a href="#/mine/dress">
			<dl>
				<dt><img src="public/imgs/mine_37.gif" alt=""></dt>
				<dd>收货地址</dd>
			</dl>
		</a>
		<a href="#/mine/inf">
			<dl>
				<dt><img src="public/imgs/mine_38.gif" alt=""></dt>
				<dd>身份证信息</dd>
			</dl>
		</a>
		<a href="#/mine/commet">
			<dl>
				<dt><img src="public/imgs/mine_39.gif" alt=""></dt>
				<dd>商品评论</dd>
			</dl>
		</a>
		<a href="#/mine/reset">
			<dl>
				<dt><img src="public/imgs/mine_43.gif" alt=""></dt>
				<dd>退出</dd>
			</dl>
		</a>
		
	</main>
</section>
