<div class="searchPage">
    <header>
        <a href="javascript:history,go(-1)"><img src="../YunHou/public/imgs/icons/shutdown.png" alt=""></a>

        <span>
            <img src="../YunHou/public/imgs/icons/searchMirror.png" alt="">
            <input type="text" name="" id="" placeholder="购全球, 上云猴">
            <img src="../YunHou/public/imgs/icons/clearInput.png" alt="" ng-click="clearInput()">
        </span>
        <i>搜索</i>
    </header>
    <main>
        <ul>
            <li>补钙</li>
        </ul>
        <div class="clearHistory" ng-click="clearHistory()">
            清空历史记录
        </div>
    </main>
</div>
