<div id="selfStore" ng-controller="selfStoreCtrl">
	<header>
		<div></div>
		<div>云猴保税自营店首页</div>
		<div></div>
		<div></div>
	</header>
	<div class="banner"><img src="public/imgs/selfBanner.jpg" alt=""></div>
	<nav>
		<ul>
			<li ng-click="activity(0)" class="activity">美妆个护<span></span></li>
			<li ng-click="activity(1)">促销必囤<span></span></li>
			<li ng-click="activity(2)">爆款主推<span></span></li>
			<li ng-click="activity(3)">海外母婴<span></span></li>
			<li ng-click="activity(4)">国际美妆<span></span></li>
			<li ng-click="activity(5)">全球美食<span></span></li>
			<li ng-click="activity(6)">家居百货<span></span></li>
			<li ng-click="activity(7)">个人护理<span></span></li>
		</ul>
	</nav>

	<main>
			<img src="public/imgs/cuxiao.jpg" alt="">
			<img src="public/imgs/100.jpg" alt="">
			<img src="public/imgs/slefPop.jpg" alt="">
			<pop-dir></pop-dir>
			<img src="public/imgs/baby.jpg" alt="">
			<div class="imgWrap">
				<img src="public/imgs/babyC1.jpg" alt="">
				<img src="public/imgs/babyC2.jpg" alt="">
				<img src="public/imgs/babyC3.jpg" alt="">
				<img src="public/imgs/babyC4.jpg" alt="">
			</div>
			<baby-dir></baby-dir>
			<img src="public/imgs/cosmetic.jpg" alt="">
			<div class="imgWrap">
				<img src="public/imgs/cosmeticC1.jpg" alt="">
				<img src="public/imgs/cosmeticC2.jpg" alt="">
			</div>
			<cosmetic-dir></cosmetic-dir>
	</main>
</div>