<div class="sort">
	<main>
		<ul>
			<li ng-click="bg(0)">
				<img src="public/imgs/small1.gif">
				<p>全球购</p>
			</li>
			<li ng-click="bg(1)">
				<img src="public/imgs/small2.gif">
				<p>粮油生鲜</p>
			</li>
			<li ng-click="bg(2)">
				<img src="public/imgs/small3.gif">
				<p>食品饮料</p>
			</li>
			<li ng-click="bg(3)">
				<img src="public/imgs/small4.gif">
				<p>进口商品</p>
			</li>
			<li ng-click="bg(4)">
				<img src="public/imgs/small5.gif">
				<p>个人护理</p>
			</li>
			<li ng-click="bg(5)">
				<img src="public/imgs/small6.gif">
				<p>母婴用品</p>
			</li>
			<li ng-click="bg(6)">
				<img src="public/imgs/small7.gif">
				<p>家居清洁</p>
			</li>
			<li ng-click="bg(7)">
				<img src="public/imgs/small8.png">
				<p>家用电器</p>
			</li>
			<li ng-click="bg(8)">
				<img src="public/imgs/small9.png">
				<p>手机数码</p>
			</li>
		</ul>
		<div class="list">
			<dl>
				<dt>婴儿奶粉/辅食</dt>
				<dd>
					<a href="">pre段</a>
					<a href="">1段</a>
					<a href="">2段</a>
					<a href="">3段</a>
					<a href="">4段</a>
					<a href="">羊奶粉</a>
					<a href="">特殊配方</a>
					<a href="">宝宝辅食</a>
				</dd>
			</dl>
			<dl>
				<dt>国际护肤</dt>
				<dd>
					<a href="">面部护肤</a>
				</dd>
			</dl>
			<dl>
				<dt>纸尿裤/湿巾</dt>
				<dd>
					<a href="">新生婴儿纸尿裤</a>
					<a href="">S码纸尿裤</a>
					<a href="">M码纸尿裤</a>
					<a href="">L码纸尿裤</a>
					<a href="">拉拉裤</a>
					<a href="">湿巾</a>
				</dd>
			</dl>
			<dl>
				<dt>彩妆香氛</dt>
				<dd>
					<a href="">彩妆</a>
					<a href="">香水</a>
				</dd>
			</dl>
			<dl>
				<dt>宝宝用品</dt>
				<dd>
					<a href="">安全出行</a>
					<a href="">喂养用品</a>
					<a href="">卫生护理</a>
					<a href="">口腔护理</a>
					<a href="">洗发沐浴</a>
					<a href="">妈咪用品</a>
					<a href="">宝宝书籍</a>
				</dd>
			</dl>
			<dl>
				<dt>食品保健</dt>
				<dd>
					<a href="">彩妆</a>
					<a href="">香水</a>
				</dd>
			</dl>
		</div>
	</main>
</div>
